/*
grey - #bdc3c7
coffee - #d59a44
*/

/*---------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color:#555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px;
}

.box{
    padding: 1%;
}

/* ICONS */


.icon{
    font-size: 200%;
    display: block;
    color: #20c933;
    margin-bottom: 10px;
}

/* HEADINGS */

h1, h2, h3 {
    font-weight: 350;
    text-transform: uppercase;
}

h1{
    color: #bdc3c7;
    margin: 0;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    word-spacing: 1px;
    margin-bottom: 15px;
}

h2:after{
    display:block;
    height: 2px;
    background-color: #d59a44;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* PARAGRAPHS */


.o-nama-glavni-tekst {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*---------------------------------------------*/
/* HEADER */
/*---------------------------------------------*/


header{
    background-image: linear-gradient(rgba(28, 28, 28, 0.3), rgba(28, 28, 28, 0.3)), url(img/header_coffee2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box{
    position: absolute;
    width: 1140px;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

.header-text-subbox {
    color: #bdc3c7;
    word-spacing: 3px;
}

.logo {
    height: 100px;
    width:auto;
    float:left;
    border-radius: 50%;
    margin-top: 10px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 6px 0;
    color:#bdc3c7;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d59a44
}

.header-title {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.section-menu {
    margin: 20px 0;
}

.card {
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    height: 400px;
}

.card__side {
    color: #fff;
    height: 400px;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.card__side--front {
    
}

.card__side--back {
    background-color: black;
    transform: rotateY(180deg);
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}

.card__picture {
    background-size: cover;
    height: 100%;
   
}

.card__picture--1 {
    background-image: url(../img/karta_pica/kafa.jpg);
    background-blend-mode: screen;
}
/*---------------------------------------------*/
/* FEATURES */
/*---------------------------------------------*/

.logo-features{
    height: 30px;
    width: 30px;
    float:center;
    border-radius: 50%;
    margin-top: 10px;
    color: yellow;
}
