/*
grey - #bdc3c7
coffee - #d59a44
coffee darker - #b9863c
coffee lighter - #f7b14b
*/

/*---------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #fff;
    color:#555;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.row-calendar{
    display: flex;
}

section{
    padding: 80px;
}

.box{
    padding: 1%;
}

/* ICONS */
.icon-container {
    text-align: center;
    margin-bottom: 10px;
}

.icon{
    font-size: 200%;
    display: block;
    color: #20c933;
    margin-bottom: 10px;
}

/* HEADINGS */

h1, h2, h3 {
    font-weight: 350;
    text-transform: uppercase;
}

h1{
    color: #fefefe;
    margin: 0;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    word-spacing: 1px;
    margin-bottom: 15px;
    text-align: center;

}

h2:after{
    display:block;
    height: 2px;
    background-color: #d59a44;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/* PARAGRAPHS */


.o-nama-glavni-tekst {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/*---------------------------------------------*/
/* HEADER */
/*---------------------------------------------*/


header{
    background-image: linear-gradient(rgba(28, 28, 28, 0.3), rgba(28, 28, 28, 0.3)), url(img/header_coffee2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box{
    position: absolute;
    width: 1140px;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    
}

.header-text-subbox {
    color: #bdc3c7;
    word-spacing: 3px;
}

.logo {
    height: 100px;
    width:auto;
    float:left;
    border-radius: 50%;
    margin-top: 10px;
}
/*---------------------------------------------*/
/* Navigation */
/*---------------------------------------------*/

.main-nav{
    float: right;
    list-style: none;
}

.nav-containter{
    float: right;
}

.main-nav li{
    margin-top: 40px;
    display: inline-block;
    margin-left: 40px;
    font-weight: 400;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 6px 0;
    color:#fefefe;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #d59a44;
}

.sticky{
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 5px 0;
    font-size: 85%;
    color:#555;
    font-weight: 500;
}

.sticky .main-nav li{
    margin-top: 5px;
}

.sticky .main-nav{
    float: right;
    margin-top: 10px;
}

.sticky .logo{
    height: 40px;
    width:auto;
    float:left;
    border-radius: 50%;
    margin: 5px 0;
}

.header-title {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.section-menu {
    margin: 20px 0;
}

.card {
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
    height: 400px;
    position: relative;
}

.card__side {
    color: #fff;
    height: 400px;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgb(10, 10, 10, .65);
}

.card-title-front {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    text-transform: unset;
}

.card-title-back {
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
    text-transform: unset;
}

.card-title-back:after  {
    margin-top: 10px;
}

.card__side--back {
    background-color: black;
    transform: rotateY(180deg);
    background-image: linear-gradient(to bottom, rgba(38, 32, 25, 0.7), rgb(0, 0, 0, 0.7)), url(./img/calendar.jpg);
    background-size: cover;
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}

.card-list{
    color: #fefefe;
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 0;
}

.card-list > li {
    margin-bottom: 10px;
}

.card__picture {
    height: 100%;
    
}

.card-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.row-style {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*---------------------------------------------*/
/* FEATURES */
/*---------------------------------------------*/

.logo-features{
    height: 30px;
    width: 30px;
    float:center;
    border-radius: 50%;
    margin-top: 10px;
    color: yellow;
}

.o-nama-naslov .o-nama-glavni-tekst{
    margin-bottom: 30px;
}
/*---------------------------------------------*/
/* GALLERY */
/*---------------------------------------------*/

.galerija{
    height: 410px;
    padding: 0;
}
.gallery{
    list-style: none;
    width: 100%;
}

.gallery li{
    display: block;
    float:left;
    width:25%;
}

.gallery_pic{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #000;
}

.gallery_pic img{
    opacity: 0.7;
    width: 100%;
    height: 205px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.gallery_pic img:hover{
        transform: scale(1.05);
        opacity: 1;
}

/*---------------------------------------------*/
/* CALENDAR */
/*---------------------------------------------*/

.section-calendar{
    padding: 0px;
    position: relative;
    height: 500px;
    width: 100%;
}

.calendar-container{
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right, rgba(38, 32, 25, 0.7), rgb(0, 0, 0, 0.7)), url(img/calendar.jpg);
    padding-top: 80px;
}

.text-calendar{
    width: auto;
    font-weight: 350;  
    color: #d59a44;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.contact-container {
    display: flex;
    margin: 40px 80px 0 80px;
    justify-content: space-between;
}

.contact-container > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.contact-info > span {
   margin-top: 30px;
   font-size: 20;
   color: #efefef;
}

.contact-icon {
    display: flex;
    height: max-content;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

.contact-heading {
    color: #efefef;
    text-transform: none;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: unset;
}

/*---------------------------------------------*/
/*animations
/*---------------------------------------------*/

.js--wp-1, 
.js--wp-2,
.js--wp-3{
    opacity: 0;
}

.js--wp-1.animated, 
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}

.js--wp-2{
    animation-duration: 1.5s;
}

.js--wp-2.animated{
    opacity: 1;
}